
*.dll
SCP343/scp035.dll
SCP343/scp035.dll
*.txt
*.cache
*.CopyComplete
SCP343/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
*.pdb
SCP343/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/SCP-343/v17/.wsuo
.vs/SCP-343/v17/.suo
.vs/SCP-343/v17/.suo
*.vsidx
*.vsidx
SCP343/.vs/SCP-343.csproj.dtbcache.json
SCP343/.vs/SCP-343/v17/.suo
